<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EC-Mobile</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//tags -->
    <link  th:href="@{/css/bootstrap.css}"   rel="stylesheet" type="text/css" media="all" />
    <link  th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <link   th:href="@{/css/font-awesome.css}"  rel="stylesheet">
    <!--pop-up-box-->
    <link th:href="@{/css/popuo-box.css}" rel="stylesheet" type="text/css" media="all" />
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css"  th:href="@{/css/jquery-ui1.css}" >
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
    <div th:replace="/views/fragment/header :: header">

    </div>
<!-- //banner -->

<!-- top Products -->
<div class="ads-grid">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Our Top Products
            <span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
        </h3>
        <!-- //tittle heading -->
        <!-- product left -->
        <div class="side-bar col-md-3">
            <div class="search-hotel">
                <h3 class="agileits-sear-head">Search Here..</h3>
                <form >
                    <input type="search" placeholder="Product name..." name="search" required="">
                    <input type="submit" value=" ">
                </form>
            </div>
            <!-- price range -->
            <div class="range">
                <h3 class="agileits-sear-head">Price range</h3>
                <ul class="dropdown-menu6">
                    <li>

                        <div id="slider-range"></div>
                        <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
                    </li>
                </ul>
            </div>

            <div class="left-side">
                <h3 class="agileits-sear-head">Category</h3>
                <ul>
                    <li>
                        <a th:href="@{http://localhost:8080/index}">All Product</a>
                    </li>
                    <th:block th:each="category : ${listCate}">
                        <li>
                            <a th:href="@{'http://localhost:8080/category/' + ${category.id}}">
                                <span class="span" th:text="${category.getNameCategory}"></span>
                            </a>

                        </li>
                    </th:block>
                </ul>
            </div>
            <!-- //discounts -->
            <!-- reviews -->
            <!-- //reviews -->
            <!-- cuisine -->
            <div class="left-side">
                <h3 class="agileits-sear-head">Find By Price</h3>
                <ul>
                    <li>
                        <input type="radio" class="checked" onclick="radioEnvent(500)" th:checked="${min} == 0">
                        <span class="span">Less than 500 $</span>
                    </li>
                    <li>
                        <input type="radio" class="checked" onclick="radioEnvent(800)" th:checked="${min} == 500">
                        <span class="span">from 500 to 800 USD</span>
                    </li>
                    <li>
                        <input type="radio" class="checked" onclick="radioEnvent(801)" th:checked="${min} == 800">
                        <span class="span">Greater than 800$</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- //product left -->
        <!-- product right -->
        <div class="agileinfo-ads-display col-md-9">
            <div class="wrapper" th:if="${dung} == 'gan'">

                <div class="product-sec1">
                    <h3 class="heading-tittle">Category Product</h3>
                    <th:block th:each="product : ${listProductMain}">
                        <div class="col-md-4 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img th:src="@{${'/file/product/' + product.photo}}" alt="" width="200px" height="200px">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a th:href="@{'/product/' + ${product.id}}" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product ">
                                    <h4>
                                        <a th:href="@{'/product/' + ${product.id}}" th:text=" ${product.nameProduct}"></a>
                                    </h4>
                                    <div class="info-product-price">
                                        <span class="item_price" th:text="'$' + ${product.price}"></span>

                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                        <input type="submit" name="submit" value="Add to cart" class="button" th:onclick="'addToCart(' + ${product.id} + ')'"/>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </th:block>

                    <div class="clearfix"></div>

                </div>
                <nav aria-label="Page navigation example" style="margin-left: 350px">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" th:href="@{?page={page}(page=${page} - 1 < 0 ? '0' : ${page} - 1)}">Previous</a></li>
                        <li class="page-item"><a class="page-link" th:href="@{?page={page}(page=${page} + 1 > ${max} ? '0' : ${page} + 1)}">Next</a></li>
                    </ul>
                </nav>


            </div>
            <div class="wrapper" th:if="${dung} == 'sai'">
                <!-- first section (nuts) -->
                <div class="product-sec1">
                    <h3 class="heading-tittle">Iphone</h3>
                    <th:block th:each="product : ${listProduct1}">
                        <div class="col-md-4 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img th:src="@{${'/file/product/' + product.photo}}" alt="" width="200px" height="200px">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a th:href="@{'/product/' + ${product.id}}" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product ">
                                    <h4>
                                        <a th:href="@{'/product/' + ${product.id}}" th:text="${product.nameProduct}"></a>
                                    </h4>
                                    <div class="info-product-price">
                                        <span class="item_price" th:text="'$' + ${product.price}"></span>

                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                        <input type="submit" name="submit" value="Add to cart" class="button" th:onclick="'addToCart(' + ${product.id} + ')'"/>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </th:block>
                    <div class="clearfix"></div>
                </div>

                <div class="product-sec1">
                    <h3 class="heading-tittle">Sam Sung</h3>
                    <th:block th:each="product : ${listProduct2}">
                        <div class="col-md-4 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img th:src="@{${'/file/product/' + product.photo}}" alt="">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a th:href="@{'/product/' + ${product.id}}" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product ">
                                    <h4>
                                        <a th:href="@{'/product/' + ${product.id}}" th:text="${product.nameProduct}"></a>
                                    </h4>
                                    <div class="info-product-price">
                                        <span class="item_price" th:text="'$' + ${product.price}"></span>

                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                        <input type="submit" name="submit" value="Add to cart" class="button" th:onclick="'addToCart(' + ${product.id} + ')'"/>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </th:block>
                    <div class="clearfix"></div>
                </div>
                <!-- //third section (oils) -->
                <!-- fourth section (noodles) -->
                <div class="product-sec1">
                    <h3 class="heading-tittle">OPPO</h3>
                    <th:block th:each="product : ${listProduct3}">
                        <div class="col-md-4 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img th:src="@{${'/file/product/' + product.photo}}" alt="">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a th:href="@{'/product/' + ${product.id}}" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product ">
                                    <h4>
                                        <a th:href="@{'/product/' + ${product.id}}" th:text=" ${product.nameProduct}"></a>
                                    </h4>
                                    <div class="info-product-price">
                                        <span class="item_price" th:text="'$' + ${product.price}"></span>

                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                        <input type="submit" name="submit" value="Add to cart" class="button" th:onclick="'addToCart(' + ${product.id} + ')'"/>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </th:block>

                    <div class="clearfix"></div>
                </div>
                <!-- //fourth section (noodles) -->
            </div>
            <div class="wrapper" th:if="${dung} == 'dung'">

                <div class="product-sec1">
                    <h3 class="heading-tittle">Search Results</h3>
                    <th:block th:each="product : ${listProductSearch}">
                        <div class="col-md-4 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img th:src="@{${'/file/product/' + product.photo}}" alt="" width="200px" height="200px">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a th:href="@{'/product/' + ${product.id}}" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product ">
                                    <h4>
                                        <a th:href="@{'/product/' + ${product.id}}" th:text=" ${product.nameProduct}"></a>
                                    </h4>
                                    <div class="info-product-price">
                                        <span class="item_price" th:text="'$' + ${product.price}"></span>

                                    </div>
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                        <input type="submit" name="submit" value="Add to cart" class="button" th:onclick="'addToCart(' + ${product.id} + ')'"/>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </th:block>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- //product right -->
    </div>
</div>
<!-- //top products -->
<!-- special offers -->
<div class="featured-section" id="projects">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Something Else
            <span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
        </h3>
        <!-- //tittle heading -->
        <div class="content-bottom-in">
            <ul id="flexiselDemo1">
                <th:block th:each="product : ${listProduct}">
                    <li>
                        <div class="w3l-specilamk">
                            <div class="speioffer-agile">
                                <a th:href="@{'/product/' + ${product.id}}">
                                    <img th:src="@{${'/file/product/' + product.photo}}" alt="" width="100px" height="100px">
                                </a>
                            </div>
                            <div class="product-name-w3l">
                                <h4>
                                    <a th:href="@{'/product/' + ${product.id}}" th:text="${product.nameProduct}"></a>
                                </h4>
                                <div class="w3l-pricehkj">
                                    <h6 th:text="'$' + ${product.price}"></h6>
                                    <p th:text="${'Quantity :' + product.quantity}"></p>
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">

                                    <input type="submit" name="submit" value="Add to cart" class="button" th:onclick="'addToCart(' + ${product.id} + ')'"/>
                                </div>
                            </div>
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</div>
<!-- //special offers -->
<div th:replace="/views/fragment/footer :: footer"></div>

<!-- js-files -->
<!-- jquery -->
    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <!-- //jquery -->

    <script>
        function radioEnvent(id) {
            if(id === 500){
                location.assign("http://localhost:8080/index/all?min=0&max=500");
            }else if(id === 800){
                location.assign("http://localhost:8080/index/all?min=500&max=800");
            }else {
                location.assign("http://localhost:8080/index/all?min=800&max=1000000");
            }
        }
    </script>


    <script>
        function addToCart(id) {
            $.ajax({
                url: 'http://localhost:8080/card/add/'+id
            }).then(function (data) {

            }).fail(function (error) {

            });
        }
    </script>

    <!-- popup modal (for signin & signup)-->
    <script th:src="@{/js/jquery.magnific-popup.js}"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- Large modal -->
    <!-- <script>
        $('#').modal('show');
    </script> -->
    <!-- //popup modal (for signin & signup)-->

    <!-- cart-js -->
    <script th:src="@{/js/minicart.js}"></script>
    <script>
        paypalm.minicartk.render(); //use only unique class names other than paypal1.minicart1.Also Replace same class name in css and minicart.min.js

        paypalm.minicartk.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });
    </script>
    <!-- //cart-js -->

    <!-- price range (top products) -->
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->

    <!-- flexisel (for special offers) -->
    <script th:src="@{/js/jquery.flexisel.js}"></script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 2
                    }
                }
            });

        });
    </script>
    <!-- //flexisel (for special offers) -->

    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->

    <!-- smoothscroll -->
    <script th:src="@{/js/SmoothScroll.min.js}"></script>
    <!-- //smoothscroll -->

    <!-- start-smooth-scrolling -->
    <script th:src="@{/js/move-top.js}"></script>
    <script th:src="@{/js/easing.js}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->

    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->

    <!-- for bootstrap working -->
    <script th:src="@{/js/bootstrap.js}"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->

</body>

</html>